* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: #000;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

#Main-section {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-flow: column;
  margin-top: 20%;
}

h1 {
  font-size: 4rem;
}

h1,
h2 {
  color: #ffc107;
}

h4 {
  color: #fff;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 1%;
}

ul a {
  margin: 0 4vw;
  padding: 10px;
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}

ul a:hover {
  color: #ffc107;
}

ul a:active {
  color: gray;
}

.footer-container img {
  width: 8%;
  margin-top: 5%;
  margin-left: 45%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-areas:
    "section-one section-two"
    "section-three section-four"
    "section-five section-six";

  height: 100vh;
  width: 50%;
  margin: auto;
  margin-top: -45%;
  margin-right: 45%;
}

h3 {
  color: #fff;
}
.section-one,
.section-two,
.section-three,
.section-four,
.section-five,
.section-six {
  color: #ffc107;
  display: block;
  font-size: 0.7rem;
  padding: 5%;
  /* background: #000; */
}

#laptopred {
  margin-left: 60%;
}

@media screen and (max-width: 667px) {
  html,
  body {
    background: #000;
    font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  li {
    display: inline;
  }

  ul {
    list-style: none;
    display: flex;
    padding: 1%;
  }

  ul a {
    margin: 0 6vw;
    padding: 4%;
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
  }

  ul a:hover {
    color: #ffc107;
  }

  ul a:active {
    color: gray;
  }

  #Main-section {
    height: 100vh;
  }

  #Main-section {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-flow: column;
    margin-top: -10%;
  }

  h1 {
    font-size: 3rem;
  }

  h1,
  h2 {
    color: #ffc107;
  }
  h4 {
    color: #fff;
    background: black;
    width: 100%;
  }

  .footer-container img {
    margin-top: 40%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "section-one section-two"
      "section-three section-four"
      "section-five section-six";

    height: 100vh;
    width: 100%;
    margin: auto;
  }

  h3 {
    color: #fff;
  }
  .section-one,
  .section-two,
  .section-three,
  .section-four,
  .section-five,
  .section-six {
    color: #ffc107;
    display: block;
    font-size: 0.7rem;
    padding: 15%;
    background: #000;
    width: 50%;
  }
}
