* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: #000;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

.header-container {
  background: url("../Images/Compwhite.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-flow: column;
}

.body-background {
  background: url("../Images/DarkPointer.jpeg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
}

#Main-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

#loggan {
  width: 100px;
}

.card p {
  background: #03171e;
  border-radius: 30%;
}

h1 {
  font-size: 2rem;
}

h1,
h2 {
  color: #ffc107;
}

.nav-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  width: 80%;
  margin: auto;
  background: #000;
  border-radius: 10px;
}

.nav-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.nav-container ul a {
  margin: 0 1rem;
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}

.nav-container ul a:hover {
  color: #ffc107;
}

.nav-container ul a.active {
  color: gray;
}

.footer-container img {
  width: 50px;
  display: block;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "section-one"
    "section-two"
    "section-three"
    "section-four"
    "section-five"
    "section-six";
}

h3,
h5,
h4 {
  color: #fff;
}
.section-one,
.section-two,
.section-three,
.section-four,
.section-five,
.section-six {
  color: #ffc107;
  display: block;
  font-size: 0.7rem;
  padding: 5%;
  text-align: center;
}

.laptop-sm {
  width: 100%;
  margin: 4rem 0 0 0;
}

.laptop-lg {
  display: none;
}

#applecomp {
  width: 100%;
  margin: 0.1rem 0 0 0;
}

.Kim {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
}

#portrait-kim {
  margin: 0 auto 1rem auto;
}

.about-me {
  color: #ffc107;
  width: 100%;
  padding: 20px;
  height: 100vh;
  text-align: center;
}

.contact-form {
  width: 85%;
  max-width: 600px;
  margin: auto;
  padding: 15px 10px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  /* margin-top: rem; */
}
.contact-form h1 {
  margin-top: 0;
  font-size: 1rem;
  color: #fff;
  margin: auto;
}
.txtb {
  border-bottom: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
}
.txtb label {
  display: block;
  text-align: left;
  color: #ffc107;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input,
.txtb textarea {
  width: 100%;
  border: none;
  color: #fff;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn {
  display: inline-block;
  background: #ffc107;
  padding: 14px 0;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}

.card {
  width: 80%;
  padding: 10px;
  margin: 2rem auto;
  margin-top: 3rem;
}

.card h5,
hr {
  margin-bottom: 1rem;
  text-align: center;
  color: #ffc107;
}

.card p {
  line-height: 1.5;
  color: #fff;
}

.contact-info {
  width: 90%;
  margin: 1rem auto;
  text-align: center;
}

.contact-info ul {
  list-style: none;
}

.contact-info ul li {
  color: #fff;
  margin: 2rem 0;
  display: block;
}

.contact-info ul li h3,
p {
  font-size: 0.8rem;
}

.contact-info ul li i {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #ffc107;
}

.contact-info li:last-child > a {
  display: flex;
  flex-flow: column;
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 320px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 375px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 425px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .contact-form {
    margin-top: 2rem;
  }

  .laptop-lg {
    display: block;
    width: 50%;
    margin: 5rem auto 0 auto;
  }

  .laptop-sm {
    display: none;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #about-header {
    width: 100%;
    height: 20vh;
    display: flex;
  }

  .card {
    width: 35%;
    padding: 20px;
    margin: auto;
  }

  .contact-info {
    margin-top: 2rem;
    text-align: center;
  }

  .contact-info ul {
    display: flex;
    justify-content: center;
  }

  .contact-info ul li {
    width: 30%;
  }

  .contact-info ul li:first-child {
    width: 30%;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "section-one section-two"
      "section-three section-four"
      "section-five section-six";
  }

  .laptop-lg {
    width: 50%;
    display: block;
    margin: 5rem auto 0 auto;
  }

  .laptop-sm {
    display: none;
  }

  .contact-form {
    margin-top: 10rem;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .flex-container .card,
  .contact-form {
    margin: 0;
  }

  .flex-container .card {
    width: 30%;
  }

  .flex-container .contact-form {
    width: 50%;
  }

  .flex-container .card {
    margin-top: auto;
  }
}

/* @media screen and (max-width: 812px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "section-one"
      "section-two"
      "section-three"
      "section-four"
      "section-five"
      "section-six";

    height: 100vh;
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 667px) {
  html,
  body {
    background: #000;
    font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  #laptopred {
    display: none;
  }

  li {
    display: inline;
  }

  ul {
    list-style: none;
    display: flex;
  }

  ul a {
    margin: 0 6vw;
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
  }

  ul a:hover {
    color: #ffc107;
  }

  ul a:active {
    color: gray;
  }

  #Main-section {
    height: 100vh;
  }

  #Main-section {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-flow: column;
    margin-top: -10%;
  }

  h1 {
    font-size: 3rem;
  }

  h1,
  h2 {
    color: #ffc107;
  }
  h4 {
    color: #fff;
    background: black;
    width: 100%;
  }

  .footer-container img {
    margin-top: 40%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "section-one"
      "section-two"
      "section-three"
      "section-four"
      "section-five"
      "section-six";

    height: 100vh;
    width: 100%;
    margin: auto;
  }

  h3 {
    color: #fff;
  }
  .section-one,
  .section-two,
  .section-three,
  .section-four,
  .section-five,
  .section-six {
    color: #ffc107;
    display: block;
    font-size: 0.7rem;
    padding: 15%;
    background: #000;
    width: 50%;
  }
} */
